<main>
  <header>
    <h1>TODO</h1>
    <button
      [class]="theme === 'light' ? 'moon' : 'sun'"
      (click)="toggleTheme()"
    ></button>
  </header>
  <div id="container">
    <form #todo="ngForm" (ngSubmit)="submit(todo)">
      <input
        type="text"
        id="todoInput"
        name="todo"
        placeholder="Create a new todo..."
        ngModel
      />
      <label for="todoInput"></label>
    </form>

    <div
      cdkDropList
      *ngIf="todoList"
      class="todo-list"
      (cdkDropListDropped)="drop($event)"
    >
      <button
        (click)="toggleStatus(item)"
        *ngFor="let item of todoList | async | filter : filter"
        [class]="'todo-list-item ' + item.status"
        cdkDrag
      >
        <span>
          {{ item.title }}
          <button (click)="deleteTodo(item)"></button>
        </span>
      </button>

      <div class="todo-list-menu">
        <span *ngIf="filter === 'all'"
          >{{ active | async }} item{{
            (active | async)! > 1 ? "s" : ""
          }}
          left</span
        >
        <span *ngIf="filter === 'active'"
          >{{ active | async }} item{{
            (active | async)! > 1 ? "s" : ""
          }}
          active{{ (active | async)! > 1 ? "s" : "" }}</span
        >
        <span *ngIf="filter === 'completed'"
          >{{ completed | async }} item{{
            (completed | async)! > 1 ? "s" : ""
          }}
          completed</span
        >
        <button (click)="filter = 'all'">All</button>
        <button (click)="filter = 'active'">Active</button>
        <button (click)="filter = 'completed'">Completed</button>
        <button (click)="clearCompleted()">Clear Completed</button>
      </div>
    </div>
    <span>Drag and drop to reorder list</span>
  </div>
</main>

<div class="attribution">
  Challenge by
  <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
    >Frontend Mentor</a
  >. Coded by Olivier Blachère.
</div>
