<main>
  <div id="container">
    <h1>TODO</h1>

    <form #todo="ngForm" (ngSubmit)="submit(todo)">
      <input
        type="text"
        id="todoInput"
        name="todo"
        placeholder="Create a new todo..."
        ngModel
      />
      <label for="todoInput"></label>
    </form>

    <div cdkDropList *ngIf="todoList" class="todo-list" (cdkDropListDropped)="drop($event)">
      <span
        (click)="toggleStatus(item)"
        *ngFor="let item of todoList | async | filter : filter"
        [class]="'todo-list-item ' + item.status"
        cdkDrag
      >
        {{ item.title }}
        <button (click)="deleteTodo(item)"></button>
      </span>
      <!-- <span
        *ngFor="let item of movies"
        [class]="'todo-list-item '"
        cdkDrag
      >
        {{ item }}
      </span> -->
      <div class="todo-list-menu">
        <span *ngIf="filter === 'all'"
          >{{ active | async }} item{{
            (active | async)! > 1 ? "s" : ""
          }}
          left</span
        >
        <span *ngIf="filter === 'active'"
          >{{ active | async }} item{{
            (active | async)! > 1 ? "s" : ""
          }}
          active{{ (active | async)! > 1 ? "s" : "" }}</span
        >
        <span *ngIf="filter === 'completed'"
          >{{ completed | async }} item{{
            (completed | async)! > 1 ? "s" : ""
          }}
          completed</span
        >
        <button (click)="filter = 'all'">All</button>
        <button (click)="filter = 'active'">Active</button>
        <button (click)="filter = 'completed'">Completed</button>
        <button (click)="clearCompleted()">Clear Completed</button>
      </div>
    </div>
  </div>
</main>

<div class="attribution">
  Challenge by
  <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
    >Frontend Mentor</a
  >. Coded by Olivier Blachère.
</div>
