@use "./scss/input";

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  background-color: #eee;
  &.light {
    --VeryLightGray: hsl(0, 0%, 98%);
    --VeryLightGrayishBlue: hsl(236, 33%, 92%);
    --LightGrayishBlue: hsl(233, 11%, 84%);
    --DarkGrayishBlue: hsl(236, 9%, 61%);
    --VeryDarkGrayishBlue: hsl(235, 19%, 35%);
  }
  &.dark {
    --verydarkblue: hsl(235, 21%, 11%);
    --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
    --LightGrayishBlue: hsl(234, 39%, 85%);
    --LightGrayishBlueHover: hsl(236, 33%, 92%);
    --DarkGrayishBlue: hsl(234, 11%, 52%);
    --VeryDarkGrayishBlue: hsl(233, 14%, 35%);
    --VeryDarkGrayishBlue: hsl(237, 14%, 26%);
  }
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

main {
  background-image: url(/assets/images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  height: 100vh;
  padding-top: 5rem;
}

#container {
  max-width: 33.75rem;
  margin: auto;
  color: #fff;
  & h1 {
    background-color: transparent;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 1rem;
    margin-bottom: 2.5rem;
  }
}

.todo-list {
  display: grid;
  border-radius: 0.3rem;
  overflow: hidden;
  background-color: #ddd;
  &-item {
    background-color: #fff;
    color: #000;
    padding: 1.5rem 1rem 1.3rem 4.5rem;
    position: relative;
    border-bottom: 1px solid #eee;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    & button{
      display: none;
      background-image: url(assets/images/icon-cross.svg);
      background-position: center;
      width: 16px;height: 16px;
      border: none;
    }
    &:hover{
      & button{
        display: block;
      }
    }
    &.active::before{
        content: "";
        position: absolute;
        height: 1.4rem;
        width: 1.4rem;
        border: 1px solid #ddd;
        border-radius: 50%;
        inset: 1.2rem 1.2rem;
    }
    &.completed::before{
         content: "";
        position: absolute;
        height: 1.4rem;
        width: 1.4rem;
        border: 1px solid #ddd;
        border-radius: 50%;
        inset: 1.2rem 1.2rem;
        background-image:
        url(assets/images/icon-check.svg),
         linear-gradient(
            135deg,
            hsl(192, 100%, 67%),
            hsl(280, 87%, 65%)
          );
        background-size: 60%, 100%;
        background-position: center, top left;
        background-repeat: no-repeat, no-repeat;
    }
  }
  &-menu {
    background-color: #fff;
    color: #000;
    padding: 1.5rem 1rem 1.3rem;
    position: relative;
    border-bottom: 1px solid #eee;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    & span {
      margin-right: auto;
    }
    & button:last-of-type {
      margin-left: auto;
      width: fit-content;
    }
  }
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}