* {
  box-sizing: border-box;
}
body,
h1 {
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--bgcBody);
  color: var(--verydarkblue);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

main {
  background-image: var(--bgImage);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  height: 100vh;
  padding-top: 5rem;
}

#container {
  max-width: 35.75rem;
  padding-inline: 1rem;
  margin: auto;
  & > span {
    text-align: center;
    display: block;
    padding-top: 4rem;
  }
}

.attribution {
  padding: 1rem;
  font-size: 16px;
  text-align: center;
}
